$font: 'Lato';
$main-green: #9ba54b;
$main-grey: #E5E5E5;
$dark-red: #57102B;
$shadow: rgba(0, 0, 0, .15);
$black: black;
$lihgt-purple: rgba(151, 134, 181, 1);
$dark-purple: rgba(39, 23, 68, 1);
$dark-purple-menu: rgba(39, 23, 68, .75);
$leech-light: rgba(222, 159, 184, 1);
$leech-dark: rgba(79, 34, 89, 1);
$green-second: rgba(123,132,48,1);