@import "_variables.scss";

html {
    font-size: 16px;
    .page {
        margin-bottom: 0;
    }
    body {
        h1 {
            font-family: $font;
            margin: 1em 0;
        }

        //top section
        .top-section {
            display: grid;
            grid-template-columns: 10% 1fr 10%;
            grid-template-rows: 58px 92%;
            background: $lihgt-purple;
            background: linear-gradient(135deg, $lihgt-purple 0%, $dark-purple 100%);

            //menu
            .menu-container {
                display: grid;
                grid-column: 1 / 4;
                grid-row: 1 / 2;
                grid-template-columns: 3% 1fr 3%;
                align-content: center;
                box-shadow: 0 8px 16px $shadow;
                .navbar {
                    display: grid;
                    grid-column: 2 / 3;
                    grid-template-columns: 15% auto;
                    .navbar-logo {
                        display: flex;
                        align-items: center;
                    }
                    .navbar-list {
                        grid-column: 2 / 3;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        .nav-link {
                            text-decoration: none;
                            font-family: $font;
                            font-weight: 600;
                            font-size: 1.2em;
                            color: $dark-red;
                            &:visited {
                                color: $dark-red;
                                text-decoration: none;
                            }
                            &:hover,
                            &:focus {
                                text-decoration: none;
                                color: $main-grey;
                            }
                        }
                    }
                }
                .navbar-mobile {
                    display: none;
                }
                .navbar-list-mobile {
                    position: absolute;
                    background: $lihgt-purple;
                    background: linear-gradient(45deg, $lihgt-purple 0%, $dark-purple-menu 100%);
                    top: 58px;
                    left: -100%;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    transition: .5s linear;
                    .nav-link {
                        text-decoration: none;
                        font-family: $font;
                        font-weight: 600;
                        font-size: 1.2em;
                        color: $dark-red;
                    }
                }
            }

            //hero section
            .hero-section {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                .container {
                    .row {
                        .hero-col {
                            margin: 3em 0;
                        }
                    }
                    padding-bottom: 5em;
                }
            }
        }

        //about-me

        //footer
        .pijawka-footer {
            background: $lihgt-purple;
            background: linear-gradient(135deg, $lihgt-purple 0%, $dark-purple 100%);
            font-family: $font;
            p {
                color: $main-grey;
                margin: 1em 0;
                a {
                    text-decoration: none;
                    color: $main-grey;
                    &:hover {
                        color: $main-green;
                    }
                    &:visited {
                        color: $main-grey;
                        &:hover {
                            color: $main-green;
                        }
                    }
                }
            }
        }

        //mobile-styles
        @media only screen and (max-width: 768px) {
            .top-section {
                grid-template-columns: 5% 1fr 5%;
                grid-template-rows: 58px 92%;
                .menu-container {
                    grid-template-columns: 5% 1fr 5%;
                    grid-template-rows: 100%;
                    grid-column: 1 / 4;
                    grid-row: 1 / 2;
                    .navbar {
                        display: none;
                    }
                    .navbar-mobile {
                        display: grid;
                        grid-column: 2 / 3;
                        grid-row: 1 / 2;
                        grid-template-columns: 15% auto 5%;
                        .navbar-logo {
                            grid-column: 1 / 2;
                            display: flex;
                            align-items: center;
                        }
                        .burger {
                            grid-column: 3 / 4;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .menu-icon {
                                color: $dark-red;
                                font-size: 1.5em;
                                display: block;
                            }
                            .menu-xmark {
                                display: none;
                            }
                        }
                    }
                    &.active {
                        grid-template-columns: 5% 1fr 5%;
                        grid-template-rows: 58px;
                        grid-row: 1 / 2;
                        .navbar-mobile {
                            grid-row: 1 / 2;
                            .burger {
                                grid-row: 1 / 2;
                                grid-column: 3 / 4;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .menu-xmark {
                                    color: $dark-red;
                                    font-size: 1.5em;
                                    display: block;
                                }
                                .menu-icon {
                                    display: none;
                                }
                            }
                        }
                        .navbar-list-mobile {
                            left: 0;
                            .nav-link {
                                padding-left: 5%;
                                &:visited {
                                    color: $dark-red;
                                    text-decoration: none;
                                }
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                    color: $main-grey;
                                }
                            }
                        }
                    }
                }
                .hero-section {
                    grid-column: 2 / 3;
                    grid-row: 2 / 3;
                    .container {
                        .row {
                            .hero-col {
                                margin: 3em 0;
                            }
                        }
                        padding-bottom: 5em;
                    }
                }
            }
        }
    }
}
