@import "_variables.scss";

html {
    font-size: 100%;
    .page {
        margin-bottom: 0;
    }
    body {
        h1 {
            font-family: $font;
            margin: 1em 0;
        }
        //top section
        .top-section {
            background: rgb(151, 134, 181);
            background: linear-gradient(135deg, rgba(151, 134, 181, 1) 0%, rgba(39, 23, 68, 1) 100%);
            //menu
            .pijawka-menu {
                .navbar-nav {
                    a {
                        font-family: $font;
                        color: $main-grey;
                        font-weight: 600;
                        font-size: 1.2em;
                    }
                }
            }

            //hero section
            .hero-section {
                .container {
                    .row {
                        .hero-col {
                            margin: 3em 0;
                        }
                    }
                    padding-bottom: 5em;
                }
            }
        }

        //about-me

        //footer
        .pijawka-footer {
            background: rgb(151, 134, 181);
            background: linear-gradient(135deg, rgba(151, 134, 181, 1) 0%, rgba(39, 23, 68, 1) 100%);
            font-family: $font;
            p {
                color: $main-grey;
                margin: 1em 0;
                a {
                    text-decoration: none;
                    color: $main-grey;
                    &:hover {
                        color: $main-green;
                    }
                    &:visited {
                        color: $main-grey;
                        &:hover {
                            color: $main-green;
                        }
                    }
                }
            }
        }
    }
}
